<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Carrier Bluebird</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', root_path %></li>
      <% if current_user %>
        <li>Signed in as <%= image_tag current_user.profile_image %> <%= current_user.username %></li>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
      <% end %>
      </ul>
  </div>
</nav>
